
@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

//@import "reset";
//@import "variables";

// Susy
$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  gutter-position: after, //inside
  debug: (
    image: show,
    color: rgba(#16f416, .15),
    output: overlay,
    toggle: top right,
  )
);

// variables
  $font-fml: Geneva, Arial, Helvetica, sans-serif;
  $font-size-default: 14pt;
  $font-sz: 1.1em;
  $color-tx: #B4B4B4;
  $color-bg: #fff;
  $high-tide: 600px;

  $color-primary: #6A9641;
  $color-secondary: #EBB010;
  $white: #EDE3C7;
  $black: #2E2713;
  $blue: #1169E9;
  $color-background: #B8BFCF;
  
  $breakpoint-small: 320px;
  $breakpoint-medium: 800px;
  $breakpoint-large: 1000px;
html,body{
  font-family: $font-fml;
  font-size: $font-sz;
  //line-height: $line-height;
  color: $color-tx;
  background-color: $color-bg;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

a{
  text-decoration: none;
}

.wrapper{
  //padding: 1em .6em;
}



// ***********************************
// МАЛЕНЬКИЕ УСТРОЙСТВА
// ***********************************
@include breakpoint($breakpoint-small) {
    #header {
       @include span(12 nest);
        text-align: center;
        vertical-align: middle;
        padding-top: .6em;
        display: table;
        span {
            line-height: 2em;
        }
        img {
            height: 1.4em;
            margin: .2em .4em;
            vertical-align: middle;
        }
        span {
        }
        > .nav {
            @include span(first 2 of 12);
        }
        > .logo {
           @include span(6 of 12); 
        }
        > .login {
            @include span(last 4 of 12);
            > span {
                text-transform: uppercase;
                font-size: .7em;
            }
        }
    }
    
     // Tabs box
    .notebook {
        @include span(12);
        white-space: nowrap;
        overflow: hidden;
        padding-top: .6em;
        > input {
            display: none;
            }
        > input + label {
            display: block;
            background-color: #E5E5E5;
            padding: .7em;
            cursor: pointer;
            position: relative;
            &:not(:last-of-type) {
                border-right: none;
            }
            &:hover {
                background-color: #F6F6F6;
            }
            &:last-of-type::after {
                display: block;
                border-bottom: 1px solid gray; // полоска уявного блока
                width: 2000px;
                content: "";
                position: absolute;
                left: 100%;
            } 
        }
        > input:checked + label {
            background-color: #fff;
            color: $blue;
            //padding-top: 1.1em;
            //margin-top: .6em;
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
            border-bottom: none;
            &:last-of-type::after {
                bottom: 0px;
            }
        }
    }
    .notebook > input:nth-of-type(1):checked ~ div:nth-of-type(1),
    .notebook > input:nth-of-type(2):checked ~ div:nth-of-type(2),
    .notebook > input:nth-of-type(3):checked ~ div:nth-of-type(3) {
        display: block;
    }
    .tab {
        @include container(90%);
        white-space: normal; 
        display: none;
    }
    //////////////////
    //  info
    //////////////////
    #info {
        @include span(12);
        border-bottom: 1px solid $color-tx;
        margin-bottom: span(1);
        > .title {
            text-transform: uppercase;
        }
        strong {
            color: #B4B4B4;
        }
        button.long {
            @include span(8);
            font-size: $font-sz;
            color: #1169E9;
            background-color: #fff;
            border: none;
            margin-left: span(2 wide);
            margin-bottom: span(1);
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
            height: 1.7em;
            &::before {
                content: "<<";
                font-weight: 900;
                margin-right: span(1);
                
            }
        }
    }
    
    /////
    
    #converse {
        @include span(12 nest);
        border-bottom: 1px solid $color-tx;
        padding-bottom: 1em;
        .avatar {
            @include span(first 3 of 12);
        }
        .log,
        .name {
            display: block;
            font-weight: 600;
        }
        .message {
            padding: 0.3em;
            > .message {
                background-color: #F6F6F6;
                .avatar {
                    @include span(last 3 of 12);
                }
            }
        }
        span.file {
            font-weight: 200;
            color: $blue;
        }
    }
    
    /////
    
    footer#new_message {
        @include span(12);
        border-bottom: 1px solid $color-tx;
        padding-bottom: 1em;
        span.title{
            @include span(12);
            text-align: center;
            color: $blue;
            text-transform: uppercase;
            margin: .5em;
        }
        .avatar {
            display: none;
        }
        textarea {
            @include span(12);
            height: 6em;
        }
        button {
                border: none;
                box-shadow: 0 0 15px rgba(0,0,0,0.5);
                background-color: #fff;
                color: $blue;
                &[name=submit] {
                    margin: .4em;
                    padding: .4em;
                    @include span(10);
                    @include push(1);
                }
        }
        
    } 
        .attache {
            @include span(12);
            position: relative;
            overflow: hidden;
            padding: 1em 1em 1em 0;
            height: 1.6em;      
            > button {
                float: right;
                height: 100%
            }
            > div{
                border: 1px solid $color-tx;
                font-size: .8em;
                height: 1.8em;
                vertical-align: middle;
            }
            input[type=file]{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer
            }
        }
        .demand {
        color: #FF0000;
        font-size: .8em;
        margin: .3em;
    } /*end footer*/
    .up {
        @include span(12);
        text-align: center;
        margin: .4em 0;
        &::before {
            content: "^";
            font-weight: 900;
            margin-right: .3em;
        }
    }
    
}
// ***********************************
// СРЕДНИЕ УСТРОЙСТВА
// ***********************************
@include breakpoint($breakpoint-medium){


}
// ***********************************
// БОЛЬШИЕ УСТРОЙСТВА
// ***********************************
@include breakpoint($breakpoint-large){

}